*.zip

garbage.*

node_modules/

project11/Task/app-project/node_modules/
project11/react-101/my-app/node_modules/

project11_ReactJS/Task/app-project/node_modules/
project11_ReactJS/react-101/my-app/node_modules/

project11_ReactJS/Task/app-project/package*
project11_ReactJS/react-101/my-app/package*

project16_Django-101/Lessons/db.*
project16_Django-101/Lessons/media/

0002_post*

main-old*
project17/til/db.sqlite3