.navbar-expand-lg {
    flex-flow: row nowrap;
    flex-direction:  row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand-lg > .container {
    flex-wrap:  nowrap;
}

.navbar-expand-lg .navbar-toggler {
    display: none;
}

.navbar, .navbar > .container, .navbar > .container-fluid {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.40625rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}


.navbar-brand {
    display: inline-block;
    padding-top: .28906rem;
    padding-bottom: .28906rem;
    margin-right: 3rem;
    font-size: 1.40625rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    width: 100%;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

.container {
    max-width:  1200px;
    width: 100%;
    padding-right: 17.5px;
    padding-left: 17.5px;
    margin-right: auto;
    margin-left: auto;
}


.navbar {
    position: relative;
    padding: 37px 3rem;
    border-bottom: 1px solid #e2e2e2 ;
    /* border-bottom-color: rgb(226, 226, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px; */
}

a, a:hover {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
}
a { 
    background-color: transparent;
}
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left; */