.btn {
    background-color: black;
    border: 1px solid slateblue;
    color:yellow;
    padding: 20px;
    font-size: medium;
  }

  .btn:hover {
      color: beige;
  }

  .my-img {
        width: 200px;
        height: auto;
        box-shadow: 10px 20px 5px #000000;
        display: block;
        margin: auto;
  }